.nav-main-div {
    margin: 20px;
}

/* nav links  */
.nav-links {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 19px;
    font-weight: 600;
}

.nav-links:hover {
    color: rgb(4, 180, 255)
}